
.titulo-sobre-nosotros{
    color: #00745F;
}

.parrafo-verde{
    color: #368210;
    padding: 0 2rem 0 2rem;
}

.parrafo-mostaza{
    color: #768300;
    padding: 0 2rem 0 2rem;
}

.imagen-ods{

    object-fit: contain;
    width: 85%;
    height: 85%;
    padding: 5px;
}

.bloque-azul{
    background-color: rgba(25, 194, 129, 0.26);
    
    
}


.titulo-h2{
    color: #00745F;
}


.imagen-mision, .imagen-vision {
    max-width: 50%;
    height: auto;
    margin: 20px 0;
}

.imagen-valores {
    display: block;        
    margin: 0 auto;         
    max-width: 70%;        
    height: auto;           
}

section {
    text-align: center;     
}

p,.parrafo-Mision, .parrafo-Vision {
  
font-size: 130%;
}